/* Estilo para el fondo del cuerpo (body) de la página */
body {
    background-color: #f2f2f2; /* Color de fondo gris claro */
}

/* Estilo para el contenedor principal del cuento */
.container {
    display: flex; /* El contenido se organiza en un flexbox */
    align-items: center; /* Centrar los elementos verticalmente */
    flex-direction: row-reverse; /* Invertir el orden de los elementos en la fila (alineación a la derecha) */
    text-align: justify; /* Justificar el texto en el contenedor */
}

/* Estilo para las imágenes dentro del contenedor */
.container img {
    margin-left: 20px; /* Margen izquierdo de 20 píxeles para separar la imagen del texto */
    width: 500px; /* Ancho de la imagen ajustado a 500 píxeles (puedes cambiar este valor según tus preferencias) */
}

/* Estilo para los encabezados de nivel 2 (h2) */
h2 {
    font-size: 40px; /* Tamaño de fuente de los encabezados h2 ajustado a 40 píxeles (puedes cambiar este valor según tus preferencias) */
}

/* 
Francisco Nuñez O.
ingenieria en Informática
Instituto Profesional de Providencia
Porgramacion de Aplicaciones Web
Modulo 3.
*/