/* Estilos de la barra de navegación */
.navbar {
    background-color: black; /* Establezco el color de fondo de la barra de navegación como negro */
}

/* agrego el estilo del footer */
footer {
    background-color: black; /* Establezco el color de fondo del footer como negro */
    color: #ffffff; /* Establezco el color del texto del footer como blanco */
    text-align: center; /* Centro el contenido del texto del footer */
    padding: 15px; /* Agrego un espacio interno de 10px alrededor del contenido del footer */
    font-family: Arial, sans-serif; /* Cambio la fuente del texto del footer a Arial o una fuente sans-serif */
    font-size: 10px; /* Establezco el tamaño de fuente del footer en 10px */
    letter-spacing: 1px; /* Aumento el espaciado entre letras en 1px */
    line-height: 1.5; /* Ajusto la altura de línea a 1.5 veces el tamaño de fuente */
    margin-top: 20px; /* Agrego un margen superior de 20px al footer */
   
}

/* Estilos de las imágenes */
.row {
    display: flex; /* Aplico un contenedor flexible para las imágenes */
    flex-wrap: wrap; /* Permito el ajuste de las imágenes en varias filas */
    justify-content: center; /* Centro las imágenes horizontalmente */
}

.col {
    flex: 0 0 200px; /* Especifico un tamaño fijo de 200px para las columnas */
    margin: 10px; /* Agrego un espaciado externo de 10px entre las imágenes */
}

img {
    width: 100%; /* Ajusto el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Mantengo la proporción de aspecto de las imágenes */
}

/* Estilos del carrusel */
.carousel-item img {
    width: 100%; /* Ajusto el ancho de las imágenes del carrusel al 100% */
    height: auto; /* Mantengo la proporción de aspecto de las imágenes del carrusel */
}

/* Agregar espacio entre el carrusel y el footer */
.carousel {
    margin-bottom: 20px; /* Agrego un margen inferior de 20px al carrusel */
}



/* Estilos del contenedor */
.container {
    position: relative; /* Establezco posición relativa para los elementos internos del contenedor */
}

/* Estilos del dropdown */
.dropdown {
    position: absolute; /* Establezco posición absoluta para el dropdown */
    top: 0; /* Coloco el dropdown en la parte superior del contenedor */
    right: 0; /* Coloco el dropdown en el lado derecho del contenedor */
}

/* Estilos del menú de navegación */
nav {
    margin-block-end: 20px; /* Agrego un margen inferior de 20px al menú de navegación */
}

/* Estilos de fuente personalizada */
.custom-font {
    font-family: "Helvetica Neue", Arial, sans-serif; /* Establezco la fuente personalizada */
}

/* Estilos para mostrar las dos listas una al lado de la otra */
.Listas {
    display: flex; /* Aplico un contenedor flexible para las listas */
}

.Listas ul, .Listas ol {
    flex: 1; /* Distribuyo el espacio disponible de manera equitativa entre las listas */
    padding: 0; /* Elimino el padding interno de las listas */
    margin: 0; /* Elimino el margen externo de las listas */
}

.Listas {
    background-color: rgb(241, 153, 208); /* Establezco un color de fondo para el contenedor de las listas */
}

.Reseñahueyel {
    text-align: justify; /* Alineo el texto justificado dentro de Reseñahueyel */
    background-color: rgb(252, 248, 2); /* Establezco un color de fondo para Reseñahueyel */
    margin-top: 20px; /* Agrego un margen superior de 20px a Reseñahueyel */
}

.parrafo2, .parrafo3, .parrafo4, .parrafo5 {
    display: inline-block; /* Hago que los párrafos se muestren en línea uno al lado del otro */
    text-align: justify; /* Alineo el texto justificado dentro de los párrafos */
    width: 22%; /* Establezco un ancho del 22% para los párrafos para que caigan uniformemente, no caian en 25% */
    margin-right: 2%; /* Agrego un margen derecho del 2% para separar los párrafos */
}